section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.6;
}

h1 {
    width: 100%;
    text-align: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dog-images {
    display: flex;
}

.dog-images>img {
    margin: 5px;
}

.list-item {
    list-style-type: disc;
}

.list-item::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.fake-button {
    border: 2px solid blue;
    color: black;
    text-align: center;
    margin: 0px 0px 0px 5px;
    padding: 1px 6px;
}

.buttons-div {
    button {
        font-family: "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
    }

    display: flex;
    margin-top: 5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

section {
    padding: 25px;
}

h1,
h2,
h3 {
    color: #333;
}

.dog-images img {
    max-width: 420px;
    height: auto;
    margin-bottom: 10px;
}

.buttons-div button,
.fake-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid blue;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buttons-div button:hover,
.fake-button:hover {
    background-color: #2980b9;
}

p {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

.dialog {
    display: none;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.list-item {
    margin-bottom: 5px;
}

.myDialog {
    position: fixed;
    top: 40%;
    right: 0;
}

/* Add more styles as needed */