<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer id="mat-drawer" class="example-sidenav" mode="side">
    <div style="display: flex; flex-direction: column">
      @if (showFiller) {
      <p role="alert" aria-live="polite">
        Lorem, ipsum dolor sit amet consectetur.
      </p>
      }
      <button
        id="drawerButton"
        #drawerButton
        (click)="showFiller = !showFiller"
      >
        Toggle extra text
      </button>
      <button
        id="drawer-button"
        aria-label="close the side panel"
        (click)="closeSidePanel(drawer, toggleSidePanelButton)"
      >
        Close side panel
      </button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="main-container">
      <div id="mainContent">
        <form [formGroup]="myForm" (ngSubmit)="submitForm()" role="form">
          <div>
            <!-- aria-label="please insert your name" -->
            <label aria-label="please insert your name" id="name-label" for="name">Name:</label>
            <input
              type="text"
              id="name"
              autofocus
              formControlName="name"
              aria-label="please insert your name"
              aria-labelledby="name-label"
            />
            <div
              class="error"
              *ngIf="name?.invalid && (name?.dirty || name?.touched)"
              id="name-error"
              role="alert"
            >
              <div class="error" *ngIf="name?.errors?.['required']">
                Name is required.
              </div>
            </div>
          </div>

          <div>
            <label id="email-label" for="email">Email:</label>
            <input
              type="email"
              id="email"
              autocomplete="off"
              formControlName="email"
              aria-labelledby="email-label"
            />
            <div
              class="error"
              *ngIf="email?.invalid && (email?.dirty || email?.touched)"
              id="email-error"
            >
              <!-- role="alert" -->
              <div role="alert" class="error" *ngIf="email?.errors?.['required']">
                Email is required.
              </div>
              <div role="alert" class="error" *ngIf="email?.errors?.['email']">
                Invalid email format.
              </div>
            </div>
          </div>

          <div>
            <label id="password-label" for="password">Password:</label>
            <input
              type="password"
              id="password"
              aria-required="true"
              formControlName="password"
              aria-labelledby="password-label"
            />
            <!-- role="alert" -->
            <div
              *ngIf="password?.errors?.['required'] && password?.touched"
              class="error"
              role="alert"
            >
              Password is required.
            </div>
            <div
              *ngIf="password?.errors?.['minlength'] && password?.touched"
              class="error"
              role="alert"
            >
              Password must be at least 8 characters long.
            </div>
            <div
              *ngIf="password?.errors?.['pattern'] && password?.touched"
              class="error"
              role="alert"
            >
              Password must contain at least one uppercase letter, one lowercase
              letter, one number, and one special character.
            </div>
          </div>
          <div class="action-buttons">
            <button
              aria-label="Cancel form submission and go to main page"
              (click)="router.navigateByUrl('/')"
            >
              Cancel
            </button>
            <button aria-label="Load data" (click)="simulateProgress()">
              Load data
            </button>
            <!-- [disabled]="myForm.invalid" -->
            <button
              type="submit"
              [attr.aria-disabled]="myForm.invalid"
              [ngClass]="{ 'disabled-button': myForm.invalid }"
            >
              Submit
            </button>
          </div>
        </form>

        <div class="progress-bar-container">
          <!-- [attr.aria-valuenow]="progress" -->
          <!-- role="progressbar" -->
          <div class="progress-bar" role="progressbar">
            <!-- aria-valuemin="0" aria-valuemax="100" -->
            <div class="progress-bar-fill" [style.width.%]="progress">
              <span class="sr-only">{{ progress }}% Complete</span>
            </div>
            <!-- <progress
              id="loadinglabel"
              max="100"
              aria-valuemin="0" aria-valuemax="100"
              [value]="progress"
              [attr.aria-valuenow]="progress"
            ></progress> -->
            <!-- role="progressbar" -->
          </div>
        </div>

        <div>
          <div
            *ngIf="loading"
            role="alert"
            aria-busy="true"
            aria-live="assertive"
          >
            Loading data... This might take a while...
          </div>

          <div *ngIf="!loading && progress == 100">
            <div role="alert" aria-live="polite" aria-label="loading complete">
              This content will appear after it was loaded!
            </div>
          </div>
        </div>

        <div class="dropdown-example-container">
          <app-dropdown-example></app-dropdown-example>
        </div>

        <div>
          <button
            #toggleSidePanelButton
            type="button"
            (click)="toggleSidePanel(drawer, drawerButton)"
          >
            Toggle sidenav
          </button>
        </div>
      </div>

      <!-- <div class="side-container">
        <button aria-label="toggle side panel" (click)="toggleSidePanel()">
          Toggle Side Panel
        </button>
        <div #sidePanelContent id="sidePanelContent" class="content-panel" [ngClass]="{openPanel: sidePanelVisible}">
          <h2>SidePanel Content</h2>
          <button aria-label="close side panel" (click)="toggleSidePanel()">
            Close Side Panel
          </button>
        </div>
      </div> -->
    </div>
  </div>
</mat-drawer-container>

